.fs-85-50{
    font-size: 5.3125rem;
    font-size: clamp(3.125rem, 2.3295rem + 3.9773vw, 5.3125rem) !important;
}

.fs-60-40{
    font-size: 3.75rem;
    font-size: clamp(2.5rem, 2.0455rem + 2.2727vw, 3.75rem) !important;
}

.fs-55-35{
    font-size: 3.4375rem;
    font-size: clamp(2.1875rem, 1.733rem + 2.2727vw, 3.4375rem) !important;
}

.fs-30-26{
    font-size: 1.875rem;
    font-size: clamp(1.625rem, 1.5341rem + 0.4545vw, 1.875rem) !important;
}

.fs-25-21{
    font-size: 1.5625rem;
    font-size: clamp(1.3125rem, 1.2216rem + 0.4545vw, 1.5625rem) !important;
}

.fs-24-20{
    font-size: 1.5rem;
    font-size: clamp(1.25rem, 1.1591rem + 0.4545vw, 1.5rem) !important;
}

.fs-23-19{
    font-size: 1.4375rem;
    font-size: clamp(1.1875rem, 1.0966rem + 0.4545vw, 1.4375rem) !important;
}

.fs-22-18{
    font-size: 1.375rem;
    font-size: clamp(1.125rem, 1.0341rem + 0.4545vw, 1.375rem) !important;
}

