//Video Styles

/* Change all text and icon colors in the player. */
.vjs-matrix.video-js {
    color: #000;
  }
  
  /* Change the border of the big play button. */
  .vjs-matrix .vjs-big-play-button {
    border: none;
    width: 60px;
    height: 60px;
    
    border-radius: 50%;
    border: none;
    background: #fccb01;  
    font-size: 4em;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: calc(50% - 30px);   
 
    @media screen and (min-width:768px) {
       width: 115px;
       height: 115px;
       font-size: 7.3em;
       top: calc(50% - 54px);   
    }
 
    transition: background-color ease-in-out  0.4s;
  }

.vjs-matrix .vjs-control-text{
    background: #000;
  }
 
  .vjs-matrix .vjs-icon-placeholder{
    &::before{
       color: #000;
    }
  }
 
  .vjs-matrix .vjs-big-play-button .vjs-icon-placeholder{
    &::before{
       color: #fff;
    }
  }
  
  /* Change the color of various "bars". */
  .vjs-matrix .vjs-volume-level,
  .vjs-matrix .vjs-play-progress,
  .vjs-matrix .vjs-slider-bar {
    background: #000;
  }
 
  .vjs-matrix .vjs-control-bar{
    background: #fccb01;  
    padding-left: 15px;
    padding-right: 15px;
  }
 
  .vjs-matrix:hover .vjs-big-play-button{
    background: #fccb01;  
  }
 
  .vjs-matrix .vjs-big-play-button:focus,  .vjs-matrix .vjs-big-play-button:hover{
    background: #ac8c0b;
    transition: background-color ease-in-out  0.4s;
  }